<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
        </handlers>
        <!-- <httpPlatform processPath="python.exe"
                      arguments="manage.py runserver %HTTP_PLATFORM_PORT%"
                      startupRetryCount="3"
                      startupRetryInterval="10"
                      stdoutLogEnabled="true"
                      stdoutLogFile=".\logs\stdout.log"
                      forwardWindowsAuthToken="false">
            <environmentVariables>
                <environmentVariable name="DJANGO_SETTINGS_MODULE" value="AhmadOnLine.settings"/>
            </environmentVariables>
        </httpPlatform> -->
        <httpPlatform processPath="python.exe"
              arguments="manage.py runserver 10.201.169.231:8080"
              startupRetryCount="3"
              startupRetryInterval="10"
              stdoutLogEnabled="true"
              stdoutLogFile=".\logs\stdout.log"
              forwardWindowsAuthToken="false">
    <environmentVariables>
        <environmentVariable name="DJANGO_SETTINGS_MODULE" value="your_project.settings"/>
    </environmentVariables>
</httpPlatform>

    </system.webServer>
</configuration>
